<div class="col-md-4">
    <div class="container">
        <div class="row">
            <h3>IPHONE 11 PRO/64GO/GOLD</h3>
            <p></p>
            <img src='https://www.tunisianet.com.tn/166264-large/telephone-portable-apple-iphone-11-pro-64-go-gris-sideral.jpg'>
            <h6>Description : </h6>
            <p>OLED Super Retina XDR 5.8" HDR (1125 x 2436px) screen - IP68 waterproof - Apple A13 Bionic Hexa-Core 3Gen processor - 6 GB RAM - 64 GB memory - Apple iOS 13 system -3x Cameras: 12 Megapixels F/2.4, 12MP TrueDepth F/2.2 - Wifi - 4G+ - Bluetooth
                5.0 - NFC - 3190 mAh battery - 1 year warranty</p>
            <h6> <b>Price:4 519,000 DT TTC </b></h6>
        </div>
        <button>{{buttontxt}}</button>
    </div>
</div>
<div class="col-md-4">
    <div class="container">
        <div class="row">
            <h3>PC Portable - MICROSOFT</h3>
            <img src='https://www.cdiscount.com/pdt2/0/0/3/1/700x700/stq00003/rw/pc-portable-microsoft-surface-go-2-10-5-int.jpg'>
            <h6>Description : </h6>
            <p> PC Portable - MICROSOFT Surface Go 2 - 10,5" - Intel Pentium Gold - RAM 8Go - Stockage 128Go SSD - AZERTY</p>
            <h6> <b>Price:1 009,000 DT TTC </b></h6>
        </div>
        <button>{{buttontxt}}</button>
    </div>
</div>
