<div class="col-md-4">
    <div class="container">
        <div class="row">
            <h3>LOUNGITUDE Extendable Corner Desk </h3>
            <img src='https://media.but.fr/images_produits/produit-zoom/8423490265186_Q.jpg'>
            <h6>Description : </h6>
            <p> It is essential that any office be both functional and practical. The loungitude extendable corner desk in melamine and made in europe has it all. With a classic, contemporary and modern design, it adapts to many styles of decoration. This
                elegant piece of furniture, with its light oak wood finish top, ensures an imposing presence in the center of a refined desk. Its generous dimensions - 145 centimeters long and 148 centimeters deep - provide a workspace large enough to
                work in peace.</p>
            <h6> <b>Price: 409,000 DT </b></h6>
        </div>
        <button>{{buttontxt}}</button>
    </div>
</div>
