<div class="col-md-4">
    <div class="container">
        <div class="row">
            <h3>Chanel Handbag</h3>
            <img src='https://i.pinimg.com/564x/54/d6/42/54d642440b76363d2ab9793ea105788d.jpg'>
            <h6>Description : </h6>
            <p>Chanel - vintage chanel - chanel vintage - chanel bag - chanel handbag - chanel clutch bag Chanel - vintage chanel - chanel vintage - chanel bag - chanel handbag - chanel clutch bag - cigarette case</p>
            <h6> <b>Price: 999,000 DT </b></h6>
        </div>
        <button>{{buttontxt}}</button>
    </div>
</div>
