<div class="col-md-4">
    <div class="container">
        <div class="row">
            <h3>#Beautybuzz</h3>
            <h3>SEPHORA</h3>
            <img src='https://edge.disstg.commercecloud.salesforce.com/dw/image/v2/BCVW_STG/on/demandware.static/-/Library-Sites-SephoraV2/default/dwe78b4e1d/LP/skincare-buzz/img-intro-uk.jpg'>
            <h1></h1>
            <h6>Description : </h6>
            <p>A selection of it-products from the most popular brands. Imagined by experts, these treatments won us over with their ingredients, their texture, their results, their philosophy, their audacity... They are changing our routines and our beauty.</p>
            <h6> <b>Price: 502,000 DT </b></h6>
        </div>
        <button>{{buttontxt}}</button>
    </div>
</div>
