<div class="col-md-4">
    <div class="container">
        <div class="row">
            <h3>Love in the Time of Cholera by Gabriel García</h3>
            <img src='https://i.pinimg.com/originals/d6/73/f9/d673f9aa0731fd692dfcdc4537361aa2.png'>
            <h6>Description : </h6>
            <p>About Love in the Time of Cholera INTERNATIONAL BESTSELLER • “A love story of astonishing power” ( Newsweek), the acclaimed modern literary classic by the beloved Nobel Prize-winning author In their youth, Florentino Ariza and Fermina Daza
                fall passionately in love. When Fermina eventually chooses to marry a wealthy, well-born doctor, Florentino is devastated, but he is a romantic.</p>
            <h6> <b>Price: 12,000 DT </b></h6>
        </div>
        <button>{{buttontxt}}</button>
    </div>
</div>
